
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flower Shop</title>

    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="{% static 'flowerbloom/js/jquery-3.5.1.slim.min.js' %}" type="text/javascript"></script>

    <!-- Bootstrap -->
    <script src="{% static 'flowerbloom/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'flowerbloom/js/popper.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'flowerbloom/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">

    <!-- FontAwesome 5 -->
    <link href="{% static 'flowerbloom/fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,615;0,700;0,800;1,400;1,500;1,600;1,615;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Custom Style -->
    <link href="{% static 'flowerbloom/css/style.css' %}" type="text/css" rel="stylesheet">

    <!-- Custom JavaScript -->
    <script src="{% static 'flowerbloom/js/script.js' %}" type="text/javascript"></script>

    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'flowerbloom/css/slick.css' %}" />
    <script type="text/javascript" src="{% static 'flowerbloom/js/slick.min.js' %}"></script>
</head>
<body>

    <header class="section__header">
        <section class="header__main border__bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="{% url 'home-page' %}" class="brand--wrap text-decoration-none">
                            <h1 class="logo">Flower Shop</h1>
                        </a>
                        <!-- brand--wrap.// -->
                    </div>
                    <!-- col.// -->
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <form action="#" class="fs__form search--header">
                            <div class="input-group w-100">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search for flower products...">
                            </div>
                        </form>
                        <!-- search--wrap.// -->
                    </div>
                    <!-- col.// -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets--wrap float-md-right">
                            <div class="widget__header mr-2">
                                <a href="{% url 'profile-page' %}" class="widget__view text-decoration-none">
                                    <div class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </div>
                                    <small class="text">Account</small>
                                </a>
                            </div>
                            <div class="widget__header mr-2">
                                <a href="#" class="widget__view text-decoration-none">
                                    <div class="icon">
                                        <i class="fa fa-bell"></i>
                                    </div>
                                    <small class="text">Notification</small>
                                </a>
                            </div>
                            <div class="widget__header">
                                <a href="{% url 'cart-page' %}" class="widget__view text-decoration-none">
                                    <div class="icon">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="notify">3</span>
                                    </div>
                                    <small class="text">Shopping cart</small>
                                </a>
                            </div>
                        </div>
                        <!-- widgets--wrap.// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- container.// -->
        </section>
        <!-- header__main.// -->
    </header>
        <nav class="navbar navbar-main navbar-expand-lg border__bottom">
            <div class="container">
                <h2 class="text-center">My Cart</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Item Price</th>
                            <th>delivery Charge</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>
                                {{ item.product.name }}
                                <a href="/remove/{{ item.id }}/" class="btn btn-danger">Remove</a>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td>&#8377;{{ item.product.price }}</td>
                            <td>&#8377;{{ item.product.delivery_charge }}</td>
                            <td>&#8377;{{ iprice }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="text-right">Grand Total</td>
                            <td>&#8377;{{ total_price }}</td>
                        </tr>
                    </tbody>
                </thead>
                </table>
            </div>
        <!-- container .//  -->
    </section>
    <!-- section__content.// -->

    <footer class="section__footer">
        <section class="footer__top py-5">
            <div class="container">
                <div class="row">
                    <!-- Introduction Section -->
                    <aside class="col-sm-6 col-lg-3">
                        <h6 class="title">Introduction</h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about-page' %}">About Flower Shop</a></li>
                            <li> <a href="#">Careers</a></li>
                            <li> <a href="#">Payment Policies</a></li>
                            <li> <a href="#">Privacy Policy</a></li>
                            <li> <a href="#">Complaint Resolution</a></li>
                            <li> <a href="#">Partnerships</a></li>
                        </ul>
                    </aside>
    
                    <!-- Customer Support Section -->
                    <aside class="col-sm-6 col-lg-3">
                        <h6 class="title">Customer Support</h6>
                        <ul class="list-unstyled">
                            <li>Hotline: <span class="color__main">1900-80xx</span></li>
                            <li> <a href="#">Frequently Asked Questions</a></li>
                            <li> <a href="#">Ordering Guide</a></li>
                            <li> <a href="#">Shipping Methods</a></li>
                            <li> <a href="#">Return Policy</a></li>
                        </ul>
                    </aside>
    
                    <!-- Newsletter Subscription Section -->
                    <aside class="col-lg-6">
                        <h6 class="title">Subscribe to Newsletter</h6>
                        <form action="#" class="fs__form">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="Your Email ...">
                                <button type="button" class="fs__button btn">Subscribe</button>
                            </div>
                        </form>
                    </aside>
                </div>
                <!-- row.// -->
            </div>
            <!-- container.// -->
        </section>
        <!-- footer__top.// -->
    
        <!-- Bottom Footer Section -->
        <section class="footer__bottom text-center">
            <div class="container-fluid">
                <p class="text-muted">© 2024 — Flower Shop</p>
            </div>
            <!-- container-fluid.// -->
        </section>
        <!-- footer__bottom.// -->
    </footer>
    <!-- section__footer.// -->

</body>

</html>